<%= form_for(@sales_invoice_header, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @sales_invoice_header.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_invoice_header.errors.count, "error") %> prohibited this sales_invoice_header from being saved:</h2>

      <ul>
      <% @sales_invoice_header.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="span5">
      <div class="actions", align="left">
        <%= f.submit "#{t 'submit'}", :class => "btn", :disable_with => "#{t 'disable_with'}" %>
      </div>
    </div>
    <div class="span7" align="right">
      <%= link_to "#{t 'back'}", sales_invoice_headers_path(params.except(:action, :controller, :id)) %>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="span5">
      <div class="row">
        <div class="control-group">
          <%= f.label :si_id, "#{t 'id'}", :class => "control-label" %>
          <% if @sales_invoice_header.si_id.blank? %>
            <div class="controls"><%= text_field_tag "si_id", nil, :readonly => true, :placeholder => "#{t 'auto_placeholder'}" %></div>
          <% else %>
            <div class="controls"><%= f.text_field :si_id, :readonly => true %></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="span7">
      <div class="row">
        <div class="control-group">
          <%= f.label :sales_invoice_date, "#{t 'dates'}", :class => "control-label" %>
          <div class="controls"><%= f.text_field :sales_invoice_date, :value => (f.object.sales_invoice_date.strftime('%d-%m-%Y') if f.object.sales_invoice_date), :id => "datepicker2", :required => true, :readonly => @readonly, :disabled => @readonly %></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="span5">
      <div class="row">
        <div class="control-group">
          <%= label_tag :doc_type, "#{t 'doc_type'}", :class => "control-label" %>
          <div class="controls">
            <%= check_box_tag "doc_type", 'T', false %>
          </div>
        </div>
      </div>
    </div>
    <div class="span7">
      <div class="row">
        <div class="control-group">
          <%= f.label :customer_id, "#{t 'customer'}", :class => "control-label" %>
          <div class="controls"><%= select(:sales_invoice_header, :customer_id, Customer.order(:name).collect {|customer| [customer.name, customer.id,]}, {:prompt => "Select a Customer"}) %>
          <% if @sales_invoice_header.customer_id.present? %>
            <span style="color:red">(<%= t 'major_update_info' %>)</span>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span5">
      <div class="row">
        <div class="control-group">
          <%= f.label :sales_quotation_header_id, "#{t 'sq_id'}", :class => "control-label" %>
          <div class="controls"><%= f.select(:sales_quotation_header_id, @sq_ids.collect {|sq_header| [sq_header.sq_id + " | " + sq_header.sales_quotation_date.strftime("%d-%m-%Y"), sq_header.sq_id,]}, {:prompt => "#{t 'prompt'} #{t 'sq_id'}"}) %>
          <% if @sales_invoice_header.so_id.present? %>
            <span style="color:red">(<%= t 'major_update_info' %>)</span>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="span5">
      <div class="row">
        <div class="control-group">
          <%= f.label :so_id, "#{t 'so_id'}", :class => "control-label" %>
          <div class="controls"><%= f.select(:so_id, @so_ids.collect {|so_header| [so_header.so_id + " | " + so_header.sales_order_date.strftime("%d-%m-%Y"), so_header.so_id,]}, {:prompt => "#{t 'prompt'} #{t 'so_id'}"}) %>
          <% if @sales_invoice_header.so_id.present? %>
            <span style="color:red">(<%= t 'major_update_info' %>)</span>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="span5">
      <div class="row">
        <div class="control-group">
          <%= f.label :currency_id, "#{t 'currency'}", :class => "control-label" %>
          <div class="controls"><%= f.select(:currency_id, @currencies.collect {|curr| ["#{curr.code}", curr.id]}, {}, :style => "width:100px") %> <%= f.text_field :exchrate, :style => "width:100px;text-align:right", :readonly => true %></div>
        </div>
      </div>
    </div>
    <div class="span7">
      <div class="row">
        <div class="control-group">
          <%= f.label :other_si_number, "#{t 'si_number'}", :class => "control-label" %>
          <div class="controls"><%= f.text_field :other_si_number %></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="span5">
      <div class="row">
        <div class="control-group">
          <%= f.label :warehouse, "#{t 'warehouse'}", :class => "control-label" %>
          <div class="controls"><%= select(:sales_invoice_header, :warehouse_id, Warehouse.active.order(:name).collect {|warehouse| [warehouse.name, warehouse.id,]}, {:prompt => "Select a Warehouse"}) %></div>
        </div>
      </div>
    </div>
    <div class="span7">
      <div class="row">
        <div class="control-group">
          <%= f.label :do_id, "#{t 'do_id'}", :class => "control-label" %>
          <div class="controls"><%= f.text_field :do_id, :readonly => true %></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="span5">
      <div class="row">
        <div class="control-group">
          <%= f.label :shipping_id, "#{t 'shipping_agent'}", :class => "control-label" %>
          <div class="controls"><%= f.select(:shipment, [["#{t 'delivered'}", 0],["#{t 'delivered_by_expedition'}", 1],["#{t 'taken'}", 2]], {:include_blank => "#{t 'prompt'} #{t 'shipment'}"}, :required => true) %></div>
        </div>
      </div>
    </div>
    
    <div class="span7">
      <div class="row">
        <div class="control-group">
          <%= f.label :sales_id, "#{t 'sales_person'}", :class => "control-label" %>
          <div class="controls"><%= f.select(:sales_id, @sales_persons.collect {|sales| ["#{sales.first_name} "+"#{sales.last_name}", sales.id,]}, {:prompt => "#{t 'prompt'} #{t 'sales_person'}"}) %></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="span5">
      <div class="row">
        <div class="control-group">
          <%= f.label :notes, "#{t 'notes'}", :class => "control-label" %>
          <div class="controls"><%= f.text_area :notes, :rows => 7 %></div>
        </div>
      </div>
    </div>
    
    <div class="span7">
      <div class="row">
        <div class="control-group">
          <%= f.label :delivery_address, "#{t 'delivery_address'}", :class => "control-label" %>
          <div class="controls"><%= f.text_area :delivery_address, :rows => 7 %></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="span5">
      <div class="row">
        <div class="control-group">
          <%= f.label :due_date, "#{t 'due_date'}", :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :due_date, :value => (f.object.due_date.strftime('%d-%m-%Y') if f.object.due_date), :id => "datepicker1" %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="span7">
      <div class="row">
        <div class="control-group">
          <%= f.label :employee_name, "#{t 'employee'}", :class => "control-label" %>
          <div class="controls"><%= f.text_field :employee_name, :readonly => true %></div>
          <%= hidden_field_tag :tt, params[:tt] %>
        </div>
      </div>
    </div>
  </div>
<% end %>