<table class="table table-hover table-condensed">
	<% @customer_trans.each do |ct| %>
	<tr>
		<thead>
			<th><%= (t 'customer').upcase %></th>
			<th><%= ct.customer.name %></th>
			<th colspan="2"><%= t 'address' %> : <%= "#{ct.customer.try(:address)}, #{ct.customer.city.try(:name)}" %></th>
			<th><%= t 'total_amount' %></th>
			<th colspan="2" class="text-right"><%= delimiter(ct.sum_total_amount) %></th>
		</thead>
		<thead>
			<th></th>
			<th><%= t 'si_id' %></th>
			<th><%= t 'dates' %></th>
			<th><%= t 'due_date' %></th>
			<th class="text-center"><%= t 'exchrate' %></th>
			<th class="text-center" colspan="3"><%= t 'total_amount' %></th>
		</thead>
	</tr>
	<% SalesInvoiceHeader.paid_by_customer(ct.customer_id, @tax_type).each do |psi| %>
	<tr>
		<td><%= psi.currency.try(:code) %> </td>
		<td><%= psi.si_id %></td>
		<td><%= psi.sales_invoice_date.strftime("%d-%m-%Y") %></td>
		<td><%= psi.due_date.strftime("%d-%m-%Y") %></td>
		<td class="text-right"><%= delimiter(psi.exchrate) %></td>
		<td class="text-right"><%= delimiter(psi.total_amount) %></td>
		<td><%= link_to "#{t 'detail'}", details_sales_payment_headers_path(:id => psi.id, :tt => params[:tt]), :remote => true %></td>
	</tr>
	<% end %>
	<tr><td colspan="7">&nbsp;</td></tr>
	<% end %>
</table>