<table class="table table-condensed table-hover">
  <tr><thead>
    <th><%= t 'nomor' %></th>
    <th><%= t 'si_id' %></th>
    <th><%= t 'so_id' %></th>
    <th><%= t 'do_id' %></th>
    <th><%= t 'dates' %></th>
    <th><%= t 'supp' %></th>
    <th class="text-right"><%= t 'amount' %></th>
    <th class="text-right"><%= t 'disc' %></th>
    <th class="text-right"><%= t 'disc_rp' %></th>
    <th class="text-center"><%= t 'tax' %></th>
    <th class="text-right"><%= t 'amount' %></th>
    <th class="text-right"><%= t 'total' %></th>
    <th width="80"></th>
  </thead></tr>
<% @sales_invoices.each do |row| %>
  <tr>
    <td><%= row[0] %></td>
    <td><%= row[1] %></td>
    <td><%= row[2] %></td>
    <td><%= row[3] %></td>
    <td><%= row[4] %></td>
    <td><%= row[5] %></td>
    <td class="text-right"><%= delimiter(row[6]) %></td>
    <td class="text-right"><%= delimiter(row[7]) %></td>
    <td class="text-right"><%= delimiter(row[8]) %></td>
    <td class="text-center"><%= "#{row[9]}" %></td>
    <td class="text-right"><%= delimiter(row[10]) %></td>
    <td class="text-right"><%= delimiter(row[11]) %></td>
    <td>
        <% if row[12].present? %>
            <%= link_to sales_invoice_header_path(row[12], :format => "pdf"), :class => "btn btn-mini btn-danger", :target => "_blank" do %>
                <i class="icon-print icon-white"></i>
            <% end %>
            <%= link_to show_triple_sales_invoice_header_path(row[12], :format => "pdf"), :class => "btn btn-mini btn-primary", :target => "_blank" do %>
                <i class="icon-print"></i>x3
            <% end %>
        <% end %>
    </td>
  </tr>
<% end %>
</table>