<%= form_tag unpaid_invoice_sales_invoice_headers_path(:tt => params[:tt]), :method => "get", :id => "unpaid_sales_invoice_search", :class => "form-inline", :remote => true do %>
<table>
	<tr>
		<td><%= t 'customer' %></td>
		<td><%= select_tag "customer", options_from_collection_for_select(@customers, "id", "name"), :prompt => "#{t 'all'} #{t 'customer'}", :id => "f_customer" %></td>
		<td><%= "#{t 'currency'}" %></td>
		<td><%= select_tag "currency", options_from_collection_for_select(Currency.order(:is_default), "id", "code"), :prompt => "#{t 'all'} #{t 'currency'}", :id => "f_currency" %></td>
		<td><%= button_tag :type => :submit, :title => "#{t 'find'}", :class => "btn btn-info" do %> <i class="icon-filter icon-white"></i><%= "#{t 'find'}" %><% end %> <%= button_tag :id => "unpaid_pdf", :class => "btn btn-warning" do %><i class="icon-print icon-white"></i> <%= "#{t 'pdf'}" %><% end %></td>
		<td><%= link_to unpaid_invoice_sales_invoice_headers_path, :title => "#{t 'reset'}", :class => "btn btn-primary" do %> <i class="icon-repeat icon-white"></i><%= "#{t 'reset'}" %><% end %></td>
	</tr>
</table>
<% end %>