<table class="table table-hover table-condensed">
	<% @customer_trans.each do |ct| %>
	<tr>
		<thead>
			<th><%= (t 'customer').upcase %></th>
			<th><%= ct.customer.name %></th>
			<th colspan="2"><%= t 'address' %> : <%= "#{ct.customer.try(:address)}, #{ct.customer.city.try(:name)}" %></th>
			<th><%= t 'total_amount' %></th>
			<th colspan="3" class="text-right"><%= delimiter(ct.sum_total_amount) %></th>
		</thead>
		<thead>
			<th></th>
			<th><%= t 'si_id' %></th>
			<th><%= t 'dates' %></th>
			<th><%= t 'due_date' %></th>
			<th class="text-center"><%= t 'rate' %></th>
			<th class="text-center"><%= t 'total_amount' %></th>
			<th class="text-center" colspan="2"><%= t 'invoice_outstanding' %></th>
		</thead>
	</tr>
	<% SalesInvoiceHeader.unpaid_by_customer(ct.customer_id).each do |usi| %>
	<tr>
		<td><%= usi.currency.try(:code) %> </td>
		<td><%= usi.si_id %></td>
		<td><%= usi.sales_invoice_date.strftime("%d-%m-%Y") %></td>
		<td><%= usi.due_date.strftime("%d-%m-%Y") %></td>
		<td><%= delimiter(usi.exchrate) %></td>
		<td class="text-right"><%= delimiter(usi.total_amount) %></td>
		<td class="text-right"><%= delimiter(usi.outstanding_total_amount) %></td>
		<td><%= link_to "#{t 'pay'}", new_sales_payment_header_path(:ci => usi.customer_id, :tt => params[:tt]) %></td>
	</tr>
	<% end %>
	<tr><td colspan="7">&nbsp;</td></tr>
	<% end %>
</table>