<table class="table">
	<tr>
		<td class="span3"><b><%= t 'do_id' %></b></td>
		<td width="1%">:</td>
		<td><%= @sales_invoice_header.do_id  %></td>
	</tr>
	<tr>
		<td><b><%= "#{t 'delivery_address'}"  %></b></td>
		<td>:</td>
		<td><%= @sales_invoice_header.delivery_address %></td>
	</tr>
	<tr>
		<td><b><%= "#{t 'shipping_agent'}" %></b></td>
		<td>:</td>
		<td><%= @sales_invoice_header.shipping_agent_name(@sales_invoice_header.shipping_id) if @sales_invoice_header.shipping_id? %></td>
	</tr>
	<tr>
		<td><b><%= "#{t 'address'}" %></b></td>
		<td>:</td>
		<td><%= @sales_invoice_header.shipping_agent_address(@sales_invoice_header.shipping_id) if @sales_invoice_header.shipping_id? %></td>
	</tr>
</table>