<h4><%= t 'sales_invoice' %> <%= @tax_type_name %> - <%= t 'detail' %></h4>

<table class="table table-striped table-condensed">
  <tr>
    <th class="span2"><%= "#{t 'si_id'}" %></th>
    <th class="span5">: <%= @sales_invoice_header.si_id %></th>
    <th class="span3"><%= "#{t 'so_id'}" %></th>
    <td><b>:</b>
      <% if @split_tax_and_non_tax_transaction == 1 %>
      <%= link_to @sales_invoice_header.so_id, show_post_void_sales_order_header_path(SalesOrderHeader.where(:so_id => @sales_invoice_header.so_id).last.id, :tt => params[:tt].to_s), :target => "_blank" if @sales_invoice_header.so_id.present? %>
      <% else %>
      <%= link_to @sales_invoice_header.so_id, show_post_void_sales_order_header_path(SalesOrderHeader.where(:so_id => @sales_invoice_header.so_id).last.id), :target => "_blank" if @sales_invoice_header.so_id.present? %>
      <% end %>
      <%= hidden_field_tag :so_id, @sales_invoice_header.so_id %></td>
  </tr>
  <tr>
    <th><%= "#{t 'dates'}" %></th>
    <td><b>:</b> <%= date_without_localtime(@sales_invoice_header.sales_invoice_date) %></td>
    <th><%= "#{t 'do_id'}" %></th>
    <td><b>:</b> <%= link_to @sales_invoice_header.do_id, DeliveryOrderHeader.where(:do_id => @sales_invoice_header.do_id).last, :target => "_blank" if @sales_invoice_header.do_id.present? %></td>
  </tr>
  <tr>
    <th><%= "#{t 'due_date'}" %></th>
    <td><b>:</b> <%= @sales_invoice_header.due_date.strftime('%d-%m-%Y') %></td>
    <th><%= t 'sales_person' %></th>
    <td><b>:</b> <%= @sales_invoice_header.try(:sales_person_name) %></td>
  </tr>
  <tr>
    <th><%= "#{t 'currency'}" %></th>
    <td><b>:</b> <%= @sales_invoice_header.currency.try(:code) %></td>
    <th><%= "#{t 'rate'}" %></th>
    <td><b>:</b> <%= delimiter @sales_invoice_header.exchrate %></td>
  </tr>
  <tr>
    <th><%= "#{t 'customer'}" %></th>
    <td><b>:</b> <%= @sales_invoice_header.customer.try(:name) %></td>
    <th><%= "#{t 'warehouse'}" %></th>
    <td><b>:</b> <%= @sales_invoice_header.warehouse.try(:name) %><%= hidden_field_tag :warehouse_id, @sales_invoice_header.warehouse_id %></td>
  </tr>
  <tr>
    <th><%= "#{t 'employee'}" %></th>
    <td><b>:</b> <%= @sales_invoice_header.employee_name %></td>
    <th><%= "#{t 'notes'}" %></th>
    <td><b>:</b> <%= truncate(@sales_invoice_header.notes, :length => 40) %> (<%= link_to "#{t 'read_more'}", view_note_sales_invoice_header_path(@sales_invoice_header.id), :remote => true %>)</td>
  </tr>
  <tr>
    <th><%= t 'fp_code' %></th>
    <td><b>:</b> <%= @sales_invoice_header.fp_code %></td>
    <th></th>
    <td></td>
  </tr>
</table>

<div class="row-fluid">
  <div class="span6">
    <h4>
      <%= "#{t 'detail'}" %> (<%= link_to "#{t 'add'}", new_sales_invoice_header_sales_invoice_detail_path(@sales_invoice_header.id), :remote => true %>)
    </h4>
  </div>
  <div class="span6" align="right">
    <%= link_to "#{t 'edit'}", edit_sales_invoice_header_path(@sales_invoice_header.id, params.except(:action, :controller)) if @sales_invoice_header.close==false %>
     |
    <%= link_to "#{t 'back'}", sales_invoice_headers_path(params.except(:action, :controller, :id)) %>
  </div>
</div>

<div id="detail_table"><%= render "sales_invoice_details/table" %></div>

<div class="row">
  <div class="span9" align="right"><b><%= t 'sub_amount' %>:</b></div>
  <div class="span2" align="right" id="<%= "si_amount_#{@sales_invoice_header.id}" %>"><%= @sales_invoice_header.currency.try(:code) %> <%= delimiter(@sales_invoice_header.amount.to_f) %></div>
  <div align="right">
    <%= link_to "#{t 'add'} #{t 'discount'}", add_discount_sales_invoice_header_path(@sales_invoice_header.id, :tt => params[:tt]), :remote => true %>
  </div>
</div>

<div class="row">
  <div class="span9" align="right"><b><%= t 'promo_disc' %>:</b></div>
  <div class="span2" align="right" id="<%= "si_discount_#{@sales_invoice_header.id}" %>"><%= delimiter(@sales_invoice_header.discount.to_f) %> %</div>
</div>

<div class="row">
  <div class="span9" align="right"><b><%= t 'disc_rp' %>:</b></div>
  <div class="span2" align="right" id="<%= "si_discount_amount_#{@sales_invoice_header.id}" %>"><%= @sales_invoice_header.currency.try(:code) %> <%= delimiter(@sales_invoice_header.discount_amount.to_f) %></div>
</div>

<div class="row">
  <div class="span9" align="right"><b><%= t 'cash_disc' %>:</b></div>
  <div class="span2" align="right" id="<%= "si_cash_disc_#{@sales_invoice_header.id}" %>"><%= @sales_invoice_header.currency.try(:code) %> <%= delimiter(@sales_invoice_header.cash_disc.to_f) %> %</div>
</div>

<div class="row">
  <div class="span9" align="right"><b><%= t 'tax' %>:</b></div>
  <div class="span2" align="right" id="<%= "si_tax_#{@sales_invoice_header.id}" %>"><%= check_box('sales_invoice_header', 'tax', options = {:index => @sales_invoice_header.id, :checked => @sales_invoice_header.tax, :disabled => true}, checked_value = true, unchecked_value = false) %></div>
</div>

<div class="row">
  <div class="span9" align="right"><b><%= t 'tax_amount' %>:</b></div>
  <div class="span2" align="right" id="<%= "si_tax_amount_#{@sales_invoice_header.id}" %>"><%= @sales_invoice_header.currency.try(:code) %> <%= delimiter(@sales_invoice_header.tax_amount.floor) %></div>
</div>

<div class="row">
  <div class="span9" align="right"><b><%= t 'total_amount' %>:</b></div>
  <div class="span2" align="right" id="<%= "si_total_amount_#{@sales_invoice_header.id}" %>"><b><%= @sales_invoice_header.currency.try(:code) %> <%= delimiter(@sales_invoice_header.total_amount.floor) %></b></div>
</div>

<hr>
<div style="text-align: center;">
  <% if @split_tax_and_non_tax_transaction == 1 %>
  <%= link_to "#{(t 'post').upcase}", status_post_sales_invoice_header_path(@sales_invoice_header.id, :tt => params[:tt].to_s), :class => "btn btn-large btn-primary", :disable_with => "#{t 'disable_with'}" %>
  <% else %>
  <%= link_to "#{(t 'post').upcase}", status_post_sales_invoice_header_path(@sales_invoice_header.id), :class => "btn btn-large btn-primary", :disable_with => "#{t 'disable_with'}" %>
  <% end %>
</div>

<div id="note_modal"></div>

<div id="form_discount_modal"></div>

<div id="sales_invoice_detail_modal"></div>