<%= form_for(@sales_order_detail) do |f| %>
  <% if @sales_order_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_order_detail.errors.count, "error") %> prohibited this sales_order_detail from being saved:</h2>

      <ul>
      <% @sales_order_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :unit_of_measure %><br />
    <%= f.text_field :unit_of_measure %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :sales_order_header %><br />
    <%= f.text_field :sales_order_header %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
