<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @sales_order_detail.description %>
</p>

<p>
  <b>Unit of measure:</b>
  <%= @sales_order_detail.unit_of_measure %>
</p>

<p>
  <b>Quantity:</b>
  <%= @sales_order_detail.quantity %>
</p>

<p>
  <b>Category:</b>
  <%= @sales_order_detail.category %>
</p>

<p>
  <b>Sales order header:</b>
  <%= @sales_order_detail.sales_order_header %>
</p>

<p>
  <b>Number:</b>
  <%= @sales_order_detail.number %>
</p>


<%= link_to 'Edit', edit_sales_order_detail_path(@sales_order_detail) %> |
<%= link_to 'Back', sales_order_details_path %>
