<h1>Listing sales_invoice_costs</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Unit of measure</th>
    <th>Quantity</th>
    <th>Amount</th>
    <th>Discount item</th>
    <th>Discount item price</th>
    <th>Price</th>
    <th>Sales invoice header</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sales_invoice_costs.each do |sales_invoice_cost| %>
  <tr>
    <td><%= sales_invoice_cost.description %></td>
    <td><%= sales_invoice_cost.unit_of_measure %></td>
    <td><%= sales_invoice_cost.quantity %></td>
    <td><%= sales_invoice_cost.amount %></td>
    <td><%= sales_invoice_cost.discount_item %></td>
    <td><%= sales_invoice_cost.discount_item_price %></td>
    <td><%= sales_invoice_cost.price %></td>
    <td><%= sales_invoice_cost.sales_invoice_header %></td>
    <td><%= link_to 'Show', sales_invoice_cost %></td>
    <td><%= link_to 'Edit', edit_sales_invoice_cost_path(sales_invoice_cost) %></td>
    <td><%= link_to 'Destroy', sales_invoice_cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sales invoice cost', new_sales_invoice_cost_path %>
