<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @sales_invoice_cost.description %>
</p>

<p>
  <b>Unit of measure:</b>
  <%= @sales_invoice_cost.unit_of_measure %>
</p>

<p>
  <b>Quantity:</b>
  <%= @sales_invoice_cost.quantity %>
</p>

<p>
  <b>Amount:</b>
  <%= @sales_invoice_cost.amount %>
</p>

<p>
  <b>Discount item:</b>
  <%= @sales_invoice_cost.discount_item %>
</p>

<p>
  <b>Discount item price:</b>
  <%= @sales_invoice_cost.discount_item_price %>
</p>

<p>
  <b>Price:</b>
  <%= @sales_invoice_cost.price %>
</p>

<p>
  <b>Sales invoice header:</b>
  <%= @sales_invoice_cost.sales_invoice_header %>
</p>


<%= link_to 'Edit', edit_sales_invoice_cost_path(@sales_invoice_cost) %> |
<%= link_to 'Back', sales_invoice_costs_path %>
