<%= form_for(@sales_order_cost) do |f| %>
  <% if @sales_order_cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_order_cost.errors.count, "error") %> prohibited this sales_order_cost from being saved:</h2>

      <ul>
      <% @sales_order_cost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :unit_of_measure %><br />
    <%= f.text_field :unit_of_measure %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :discount_item %><br />
    <%= f.text_field :discount_item %>
  </div>
  <div class="field">
    <%= f.label :discount_item_price %><br />
    <%= f.text_field :discount_item_price %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :sales_order_header %><br />
    <%= f.text_field :sales_order_header %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
