<h1>Listing sales_order_costs</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Unit of measure</th>
    <th>Quantity</th>
    <th>Amount</th>
    <th>Discount item</th>
    <th>Discount item price</th>
    <th>Price</th>
    <th>Sales order header</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sales_order_costs.each do |sales_order_cost| %>
  <tr>
    <td><%= sales_order_cost.description %></td>
    <td><%= sales_order_cost.unit_of_measure %></td>
    <td><%= sales_order_cost.quantity %></td>
    <td><%= sales_order_cost.amount %></td>
    <td><%= sales_order_cost.discount_item %></td>
    <td><%= sales_order_cost.discount_item_price %></td>
    <td><%= sales_order_cost.price %></td>
    <td><%= sales_order_cost.sales_order_header %></td>
    <td><%= link_to 'Show', sales_order_cost %></td>
    <td><%= link_to 'Edit', edit_sales_order_cost_path(sales_order_cost) %></td>
    <td><%= link_to 'Destroy', sales_order_cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sales order cost', new_sales_order_cost_path %>
