<h1>Listing sales_order_materials</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Unit of measure</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Discount item</th>
    <th>Discount item price</th>
    <th>Amount</th>
    <th>Outstanding qty</th>
    <th>Sales order detail</th>
    <th>Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sales_order_materials.each do |sales_order_material| %>
  <tr>
    <td><%= sales_order_material.product %></td>
    <td><%= sales_order_material.unit_of_measure %></td>
    <td><%= sales_order_material.quantity %></td>
    <td><%= sales_order_material.price %></td>
    <td><%= sales_order_material.discount_item %></td>
    <td><%= sales_order_material.discount_item_price %></td>
    <td><%= sales_order_material.amount %></td>
    <td><%= sales_order_material.outstanding_qty %></td>
    <td><%= sales_order_material.sales_order_detail %></td>
    <td><%= sales_order_material.number %></td>
    <td><%= link_to 'Show', sales_order_material %></td>
    <td><%= link_to 'Edit', edit_sales_order_material_path(sales_order_material) %></td>
    <td><%= link_to 'Destroy', sales_order_material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sales order material', new_sales_order_material_path %>
