<h4><%= t 'other_sales_invoice' %> <%= @tax_type_name %> - <%= t 'detail' %></h4>

<% if @other_sales_invoice_header.status==1 %>
  <h4 class="status_1" align="center"><%= t 'status_post' %> <%= complete_datetime(@other_sales_invoice_header.updated_at) %></h4>
<% elsif @other_sales_invoice_header.status==5 %>
  <h4 class="status_5" align="center"><%= t 'status_void' %> <%= complete_datetime(@other_sales_invoice_header.updated_at) %></h4>
<% end %>

<table class="table table-striped table-condensed">
  <tr>
    <th class="span2"><%= "#{t 'si_id'}" %></th>
    <td class="span5">: <%= @other_sales_invoice_header.try(:si_id) %></th>
    <th class="span2"><%= "#{t 'fp_code'}" %></th>
    <td><b>:</b> <%= @other_sales_invoice_header.fp_code %></td>
  </tr>
  <tr>
    <th><%= "#{t 'dates'}" %></th>
    <td><b>:</b> <%= @other_sales_invoice_header.sales_invoice_date.strftime("%d-%m-%Y") %></td>
    <th><%= "#{t 'due_date'}" %></th>
    <td><b>:</b> <%= @other_sales_invoice_header.due_date.strftime("%d-%m-%Y") %></td>
  </tr>
  <tr>
    <th><%= "#{t 'customer'}" %></th>
    <td><b>:</b> <%= @other_sales_invoice_header.customer.try(:name) %></td>
    <th><%= "#{t 'currency'}" %></th>
    <td><b>:</b> <%= @other_sales_invoice_header.currency.try(:code) %> <%= delimiter(@other_sales_invoice_header.exchrate) %></td>
  </tr>
  <tr>
    <th><%= "#{t 'sq_id'}" %></th>
    <td><b>:</b> <%= @other_sales_invoice_header.sales_quotation_id %></td>
    <th><%= "#{t 'employee'}" %></th>
    <td><b>:</b> <%= @other_sales_invoice_header.employee_name %></td>
  </tr>
  <tr>
    <th><%= "#{t 'notes'}" %></th>
    <td colspan="3"><b>:</b> <%= truncate(@other_sales_invoice_header.notes, :length => 40) %> (<%= link_to "#{t 'read_more'}", view_note_other_sales_invoice_header_path(@other_sales_invoice_header.id), :remote => true %>)</td>
  </tr>
</table>

<div class="row-fluid">
  <div class="span6">
    <h4>
      <%= "#{t 'detail'}" %> (<%= link_to "#{t 'add'}", new_other_sales_invoice_header_other_sales_invoice_detail_path(@other_sales_invoice_header.id), :remote => true %>)
    </h4>
  </div>
  
  <div class="span6" align="right">
    <% if @split_tax_and_non_tax_transaction == 1 %>
    <%= link_to "#{t 'edit'}", edit_other_sales_invoice_header_path(@other_sales_invoice_header.id, :tt => params[:tt].to_s) if @other_sales_invoice_header.close==false %>
    <% else %>
    <%= link_to "#{t 'edit'}", edit_other_sales_invoice_header_path(@other_sales_invoice_header.id) %>
    <% end %>
     |
    <% if @split_tax_and_non_tax_transaction == 1 %>
    <%= link_to "#{t 'back'}", :controller => "other_sales_invoice_headers", :action => "index", :tt => params[:tt] %>
    <% else %>
    <%= link_to "#{t 'back'}", other_sales_invoice_headers_path %>
    <% end %>
  </div>
</div>

<div id="detail_table"><%= render "other_sales_invoice_details/table" %></div>

<div class="row">
  <div class="span9" align="right"><b><%= t 'sub_amount' %>:</b></div>
  <div class="span2" align="right" id="<%= "si_amount_#{@other_sales_invoice_header.id}" %>"><%= @other_sales_invoice_header.currency.try(:code) %> <%= delimiter(@other_sales_invoice_header.amount.to_f) %></div>
  <div align="right">
    <% if @split_tax_and_non_tax_transaction == 1 %>
    <%= link_to "#{t 'add'} #{t 'discount'}", add_discount_other_sales_invoice_header_path(@other_sales_invoice_header.id, :tt => params[:tt].to_s), :remote => true %>
    <% else %>
    <%= link_to "#{t 'add'} #{t 'discount'}", add_discount_other_sales_invoice_header_path(@other_sales_invoice_header.id), :remote => true %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span9" align="right"><b><%= t 'promo_disc' %>:</b></div>
  <div class="span2" align="right" id="<%= "si_discount_#{@other_sales_invoice_header.id}" %>"><%= delimiter(@other_sales_invoice_header.discount.to_f) %> %</div>
</div>

<div class="row">
  <div class="span9" align="right"><b><%= t 'disc_rp' %>:</b></div>
  <div class="span2" align="right" id="<%= "si_discount_amount_#{@other_sales_invoice_header.id}" %>"><%= @other_sales_invoice_header.currency.try(:code) %> <%= delimiter(@other_sales_invoice_header.discount_amount.to_f) %></div>
</div>

<div class="row">
  <div class="span9" align="right"><b><%= t 'tax' %>:</b></div>
  <div class="span2" align="right" id="<%= "si_tax_#{@other_sales_invoice_header.id}" %>"><%= check_box('other_sales_invoice_header', 'tax', options = {:index => @other_sales_invoice_header.id, :checked => @other_sales_invoice_header.tax, :disabled => true}, checked_value = "1", unchecked_value = "0") %></div>
</div>

<div class="row">
  <div class="span9" align="right"><b><%= t 'tax_amount' %>:</b></div>
  <div class="span2" align="right" id="<%= "si_tax_amount_#{@other_sales_invoice_header.id}" %>"><%= @other_sales_invoice_header.currency.try(:code) %> <%= delimiter(@other_sales_invoice_header.tax_amount.to_f) %></div>
</div>

<div class="row">
  <div class="span9" align="right"><b><%= t 'total_amount' %>:</b></div>
  <div class="span2" align="right" id="<%= "si_total_amount_#{@other_sales_invoice_header.id}" %>"><b><%= @other_sales_invoice_header.currency.try(:code) %> <%= delimiter(@other_sales_invoice_header.total_amount.to_f) %></b></div>
</div>

<hr>
<div style="text-align: center;">
  <% if @split_tax_and_non_tax_transaction == 1 %>
  <% if @other_sales_invoice_header.status == 0 %>
    <%= link_to "#{(t 'post').upcase}", status_post_other_sales_invoice_header_path(@other_sales_invoice_header.id, :tt => params[:tt].to_s), :class => "btn btn-large btn-primary" %>
  <% else %>
    <%= link_to "#{(t 'void').upcase}", status_void_other_sales_invoice_header_path(@other_sales_invoice_header.id, :tt => params[:tt].to_s), :class => "btn btn-large btn-primary" %>
  <% end %>
  <% else %>
  <% if @other_sales_invoice_header.status == 0 %>
    <%= link_to "#{(t 'post').upcase}", status_post_other_sales_invoice_header_path(@other_sales_invoice_header.id), :class => "btn btn-large btn-primary" %>
  <% else %>
    <%= link_to "#{(t 'void').upcase}", status_void_other_sales_invoice_header_path(@other_sales_invoice_header.id), :class => "btn btn-large btn-primary" %>
  <% end %>
  <% end %>
</div>

<div id="note_modal"></div>

<div id="form_discount_modal"></div>

<div id="other_sales_invoice_detail_modal"></div>