<table class="table table-bordered table-condensed">
  <tr>
    <th><%= t 'number' %></th>
    <th><%= t 'description' %></th>
    <th><%= t 'quantity' %></th>
    <th><%= t 'price' %></th>
    <th><%= t 'disc' %></th>
    <th><%= t 'disc_rp' %></th>
    <th><%= t 'total' %></th>
    <% if @other_sales_invoice_header.status==0 %>
      <th></th>
    <% end %>
  </tr>
<% counter=0; @other_sales_invoice_details.each do |other_sales_invoice_detail| %>
  <tr>
    <td><%= counter+=1 %></td>
    <td><%= other_sales_invoice_detail.description %></td>
    <td class='text-right'><%= delimiter(other_sales_invoice_detail.quantity) %></td>
    <td class='text-right'><%= delimiter(other_sales_invoice_detail.price) %></td>
    <td class='text-right'><%= delimiter(other_sales_invoice_detail.discount_item) %></td>
    <td class='text-right'><%= delimiter(other_sales_invoice_detail.discount_item_price) %></td>
    <td class='text-right'><%= delimiter(other_sales_invoice_detail.total_amount) %></td>
    <% if @other_sales_invoice_header.status==0 || @other_sales_invoice_header.revision_status==1 %>
      <td>
        <u><%= link_to "#{t 'edit'}", edit_other_sales_invoice_header_other_sales_invoice_detail_path(@other_sales_invoice_header, other_sales_invoice_detail), :remote => true %></u>
         |
        <u><%= link_to "#{t 'destroy'}", other_sales_invoice_header_other_sales_invoice_detail_path(@other_sales_invoice_header, other_sales_invoice_detail), :confirm => "#{t 'confirm'}", :method => :delete, :remote => true %></u>
      </td>
    <% end %>
  </tr>
<% end %>
</table>