<h1>Listing other_sales_invoice_details</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Quantity</th>
    <th>Discount item</th>
    <th>Discount item price</th>
    <th>Price</th>
    <th>Total amount</th>
    <th>Other sales invoice headers</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @other_sales_invoice_details.each do |other_sales_invoice_detail| %>
  <tr>
    <td><%= other_sales_invoice_detail.description %></td>
    <td><%= other_sales_invoice_detail.quantity %></td>
    <td><%= other_sales_invoice_detail.discount_item %></td>
    <td><%= other_sales_invoice_detail.discount_item_price %></td>
    <td><%= other_sales_invoice_detail.price %></td>
    <td><%= other_sales_invoice_detail.total_amount %></td>
    <td><%= other_sales_invoice_detail.other_sales_invoice_headers %></td>
    <td><%= link_to 'Show', other_sales_invoice_detail %></td>
    <td><%= link_to 'Edit', edit_other_sales_invoice_detail_path(other_sales_invoice_detail) %></td>
    <td><%= link_to 'Destroy', other_sales_invoice_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Other sales invoice detail', new_other_sales_invoice_detail_path %>
