<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @other_sales_invoice_detail.description %>
</p>

<p>
  <b>Quantity:</b>
  <%= @other_sales_invoice_detail.quantity %>
</p>

<p>
  <b>Discount item:</b>
  <%= @other_sales_invoice_detail.discount_item %>
</p>

<p>
  <b>Discount item price:</b>
  <%= @other_sales_invoice_detail.discount_item_price %>
</p>

<p>
  <b>Price:</b>
  <%= @other_sales_invoice_detail.price %>
</p>

<p>
  <b>Total amount:</b>
  <%= @other_sales_invoice_detail.total_amount %>
</p>

<p>
  <b>Other sales invoice headers:</b>
  <%= @other_sales_invoice_detail.other_sales_invoice_headers %>
</p>


<%= link_to 'Edit', edit_other_sales_invoice_detail_path(@other_sales_invoice_detail) %> |
<%= link_to 'Back', other_sales_invoice_details_path %>
