<h4 align="center"><%= t 'report' %> - <%= t 'sales_order' %> yang Belum Selesai</h4>
<%= form_tag(unfinish_report_filter_sales_order_headers_path, :method => "get", :class => "form-horizontal") do %>
  <div class="row">
    <div class="span6">
      <div class="row">
        <div class="control-group">
          <%= label_tag :period, "#{t 'period'}", :class => "control-label" %>
          <div class="controls">
            <% if params[:start_period].present? %>
              <%= text_field_tag :start_period, "", :id => "datepicker", :value => params[:start_period].to_date.strftime("%d-%m-%Y"), :style => "width:100px" %>&nbsp;s.d.&nbsp;
            <% else %>
              <%= text_field_tag :start_period, "", :id => "datepicker", :value => Date.today.strftime("%d-%m-%Y"), :style => "width:100px" %>&nbsp;s.d.&nbsp;
            <% end %>

            <% if params[:end_period].present? %>
              <%= text_field_tag :end_period, "", :id => "datepicker2", :value => params[:end_period].to_date.strftime("%d-%m-%Y"), :style => "width:100px" %>
            <% else %>
              <%= text_field_tag :end_period, "", :id => "datepicker2", :value => Date.today.strftime("%d-%m-%Y"), :style => "width:100px" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="row">
        <div class="control-group">
          <%= label_tag :customer, "#{t 'customer'}", :class => "control-label" %>
          <div class="controls">
            <% @customers = Customer.order(:name) %>
            <% if params[:warehouse].present? %>
              <%= select_tag "customer", options_for_select(@customers.collect{|s| [s.name, s.id]}, :selected => params[:customer]), {:prompt => "#{t 'all'}", :style => "width:200px"} %>
            <% else %>
              <%= select_tag "customer", options_for_select(@customers.collect{|s| [s.name, s.id]}), {:prompt => "#{t 'all'}", :style => "width:200px"} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="row">
        <div class="control-group">
          <%= label_tag :amount, "#{t 'total'}", :class => "control-label" %>
          <div class="controls">
            <% if params[:start_amount].present? %>
              <%= text_field_tag "start_amount", params[:start_amount], :placeholder => "#{t 'start_amount'}", :style => "width:100px" %>
            <% else %>
              <%= text_field_tag "start_amount", nil, :placeholder => "#{t 'start_amount'}", :style => "width:100px" %>
            <% end %>
            &nbsp;s.d.&nbsp;
            <% if params[:end_amount].present? %>
              <%= text_field_tag "end_amount", params[:end_amount], :placeholder => "#{t 'end_amount'}", :style => "width:100px" %>
            <% else %>
              <%= text_field_tag "end_amount", nil, :placeholder => "#{t 'end_amount'}", :style => "width:100px" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="row" align="right">
        <div class="control-group">
          <%= submit_tag "#{t 'ep.submit'}", :name => nil, :class => "btn btn-warning", :remote => true %>
          <%= submit_tag "#{t 'pdf'}", :name => "print", :class => "btn btn-info" %>
          <%= submit_tag "#{t 'excel'}", :name => "excel", :class => "btn btn-success" %>
        </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
<% end %>

<div id="headers_pagination"><%= render 'report_table' %></div>