<%= form_for([@sales_quotation_header, @sales_quotation_detail, @sales_quotation_material], :html => { :class => "form-horizontal" }, :remote => true) do |f| %>
  <% if @sales_quotation_material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_quotation_material.errors.count, "error") %> prohibited this sales_quotation_material from being saved:</h2>

      <ul>
      <% @sales_quotation_material.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :product, "#{t 'product'}", :class => "control-label" %>
    <div class="controls"><%= f.select(:product_id, Product.can_be_sold.order(:name).collect {|p| [p.name, p.id,]}, { :prompt => "#{t 'prompt'} #{t 'product'}"}, {:onchange => "$(this).ajaxChange('customer_categories/#{@sales_quotation_header.customer_id}/disc_by_customer')"}) %></div>
  </div>
  
  <div class="control-group">
    <%= f.label :unit_of_measure_id, "#{t 'unit_of_measure'}", :class => 'control-label' %>
    <div class="controls"><%= f.select :unit_of_measure_id, @uoms.collect {|uom| [uom.name, uom.id,]}, {:prompt => "#{t 'prompt'} #{t 'unit_of_measure'}"}, :required => true, :id => "detail_uom_conv" %></div>
  </div>
  
  <div class="control-group">
    <%= f.label :quantity, "#{t 'quantity'}", :class => "control-label" %>
    <div class="controls"><%= f.text_field :quantity, :required => true, :style => "text-align:right" %></div>
  </div>
  
  <div class="control-group">
    <%= f.label :price, "#{t 'price'}", :class => "control-label" %>
    <div class="controls"><%= f.text_field :price, :readonly => false, :style => "text-align:right" %></div>
  </div>

  <div class="control-group">
    <%= f.label :discount_item, "#{t 'disc'}", :class => "control-label" %>
    <% if @sales_quotation_material.discount_item.present? %>
      <div class="controls"><%= f.text_field :discount_item, :readonly => false, :style => "text-align:right" %></div>
    <% else %>
      <div class="controls"><%= f.text_field :discount_item, :readonly => false, :value => 0, :style => "text-align:right" %></div>
    <% end %>
  </div>
  <div class="control-group">
    <%= f.label :discount_item_price, "#{t 'disc_rp'}", :class => "control-label" %>
    <% if @sales_quotation_material.discount_item_price.present? %>
      <div class="controls"><%= f.text_field :discount_item_price, :style => "text-align:right" %></div>
    <% else %>
      <div class="controls"><%= f.text_field :discount_item_price, :value => 0, :style => "text-align:right" %></div>
    <% end %>
    <%= hidden_field_tag "cuid", @sales_quotation_header.currency_id %>
  </div>
  
  <div class="actions", align="right">
    <%= f.submit "#{t 'submit'}", :class => "btn" %>
  </div>
<% end %>
