<%= form_for(@sales_quotation_header, :url => approval_status_sales_quotation_header_path(@sales_quotation_header), :method => :put, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @sales_quotation_header.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_quotation_header.errors.count, "error") %> prohibited this sales_quotation_header from being saved:</h2>

      <ul>
      <% @sales_quotation_header.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :approval_notes, :class => "control-label" %>
    <div class="controls"><%= f.text_area :approval_notes, :rows => "7", :required => true %></div>
  </div>
  <div class="control-group">
    <div class="controls">
    	<%= hidden_field_tag "status", @status %>
    	<%= f.submit "#{t 'submit'}", :class => "btn" %>
    </div>
  </div>
<% end %>