<%= will_paginate @sales_quotation_headers, :class => "apple_pagination" %>

<table class="table table-condensed">
  <thead>
  <tr>
    <th></th>
    <th class="span2"><%= t 'id' %></th>
    <th><%= t 'dates' %></th>
    <th><%= t 'customer' %></th>
    <th><%= t 'cp' %></th>
    <th class="text-center"><%= t 'tax' %></th>
    <th><%= "#{t 'currency'}" %></th>
    <th><%= t 'total_amount' %></th>
    <th class="span2"><%= t 'employee' %></th>
    <th width="50"></th>
    <th width="150"></th>
    <th></th>
  </tr>
  </thead>
<% @sales_quotation_headers.each do |sales_quotation_header| %>
  <tr>
    <td class="status_<%= "#{sales_quotation_header.status}" if sales_quotation_header.close==false %><%= "4" if sales_quotation_header.close==true %>"></td>
    <td><%= sales_quotation_header.sq_id %></td>
    <td><%= sales_quotation_header.sales_quotation_date.strftime("%d-%m-%Y") %></td>
    <td><%= sales_quotation_header.customer.try(:name) %></td>
    <td><%= sales_quotation_header.contact_person %></td>
    <td class="text-center"><%= check_box('sales_quotation_header', 'tax', options = {:index => sales_quotation_header.id, :checked => sales_quotation_header.tax, :disabled => true}, checked_value = "1", unchecked_value = "0") %></td>
    <td><%= sales_quotation_header.currency.try(:code) %></td>
    <td class="text-right"><%= delimiter(sales_quotation_header.total_amount) %></td>
    <td><%= sales_quotation_header.employee_name %></td>
    <td class="text-right">
      <u><%= link_to view_note_sales_quotation_header_path(sales_quotation_header.id, params.except(:action, :controller)), :remote => true, :title => "#{t 'notes'}", :class => "btn btn-mini btn-primary" do %><i class="icon-tag icon-white"></i><% end %>
      </u>
    </td>
    <td style="text-align:center;">
      <% if sales_quotation_header.status==1 %>
        <%= link_to sales_quotation_header_path(sales_quotation_header, params.except(:action, :controller)), :title => "#{t 'show'}", :class => "btn btn-mini" do %><i class="icon-search"></i><% end %>
        | 
        <%= link_to status_void_sales_quotation_header_path(sales_quotation_header.id, :tt => params[:tt]), data: { confirm: "#{t 'confirm'}" }, :title => "#{t 'void'}", :class => "btn btn-mini btn-danger" do %><i class="icon-remove icon-white"></i><% end %>
          <% if @can_revise == true %>
        |
        <%= link_to revise_sales_quotation_header_path(sales_quotation_header, params.except(:action, :controller)), data: { confirm: "#{t 'confirm'}"}, :title => "#{t 'revision'}", :class => "btn btn-mini btn-warning" do %><i class="icon-edit icon-white"></i><% end %>
          <% end %>
          <% if @can_print == true %>
        |
        <%= link_to sales_quotation_header_path(sales_quotation_header, :tt => params[:tt].to_s, :format => "pdf"), :title => "#{t 'pdf'}", :class => "btn btn-mini btn-info" do %> <i class="icon-print icon-white"></i><% end %>
          <% end %>
      <% elsif sales_quotation_header.status==5 %>
          <%= link_to sales_quotation_header_path(sales_quotation_header, params.except(:action, :controller)), :title => "#{t 'show'}", :class => "btn btn-mini" do %><i class="icon-search"></i><% end %>
      <% else %>
        <%= link_to sales_quotation_header_path(sales_quotation_header, params.except(:action, :controller)), :title => "#{t 'add'}", :class => "btn btn-mini" do %><i class="icon-list"></i><% end %>
         | 
        <%= link_to edit_sales_quotation_header_path(sales_quotation_header, params.except(:action, :controller)), :title => "#{t 'edit'}", :class => "btn btn-mini" do %><i class="icon-pencil"></i><% end %>
      <% end %>
    </td>
    <td class="status_<%= "#{sales_quotation_header.status}" %>"></td>
  </tr>
<% end %>
</table>
    
<%= will_paginate @sales_quotation_headers, :class => "apple_pagination" %>

<div id="note_modal" style="display:none"></div>