<table class="table table-condensed">
  <tr>
    <th><%= t 'nomor' %></th>
    <th><%= t 'so_id' %></th>
    <th><%= t 'dates' %></th>
    <th><%= t 'customer' %></th>
    <th class="text-right"><%= t 'amount' %></th>
    <th class="text-right"><%= t 'disc' %></th>
    <th class="text-right"><%= t 'disc_rp' %></th>
    <th class="text-center"><%= t 'tax' %></th>
    <th class="text-right"><%= t 'amount' %></th>
    <th class="text-right"><%= t 'total' %></th>
    <th></th>
  </tr>
<% @sales_quotations.each do |row| %>
  <tr>
    <td><%= row[0] %></td>
    <td><%= row[1] %></td>
    <td><%= row[2] %></td>
    <td><%= row[3] %></td>
    <td class="text-right"><%= row[4] %></td>
    <td class="text-right"><%= row[5] %></td>
    <td class="text-right"><%= row[6] %></td>
    <td class="text-center"><%= row[7] %></td>
    <td class="text-right"><%= row[8] %></td>
    <td class="text-right"><%= row[9] %></td>
    <td>
        <% if row[10].present? %>
            <%= link_to sales_quotation_header_path(row[10], :format => "pdf"), :class => "btn btn-mini", :target => "_blank" do %>
                <i class="icon-print"></i>PDF
            <% end %>
        <% end %>
    </td>
  </tr>
<% end %>
</table>