$("select[id*='sales_quotation_header_id']").empty();
$("select[id*='sales_quotation_header_id']").append($("<option></option>").attr("value","").text("<%= t 'prompt' %> <%= t 'sq_id' %>"));
<% for sq_id in @sq_ids %>
$("select[id*='sales_quotation_header_id']").append($("<option></option>").attr("value","<%= sq_id.id %>").text('<%= sq_id.sq_id + ' | ' + sq_id.sales_quotation_date.strftime("%d-%m-%Y") %>'));
<% end %>

$("#sales_invoice_header_delivery_address").val("<%= @cust_delivery_address %>");
var due_date = new Date($("#datepicker2").datepicker('getDate'));
	due_date.setDate(due_date.getDate() + <%= @payment_limit %>);
$("#datepicker1").datepicker('setDate', due_date);
$("#sales_invoice_header_sales_id").val('<%= @sales_id %>')